<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/auto-apply.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Automated LinkedIn Apply </h3>
    <ul>
      <li> Python </li>
      <li> Selenium </li>
    </ul>
    <p>During my job search, I came to a quick realization that I was spending a lot of time
    doing the same repetitve task; i.e. Choosing a job that fits me & applying for it. Hence, I decided
  to save me some time, and automate the process. And here we are! Over the period I intend to make it
  completely automated and more powerful by including a resume formatter to modify the user resume accordingly to pass
the companies' ATS </p>
    <a class="project-link" href="https://github.com/ceekyay/LinkedinSpider">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ui-crawler.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> UIowa Web Crawler </h3>
    <ul>
      <li> Python </li>
      <li> Scrapy </li>
      <li> Social Network Analysis (SNA) </li>
      <li> Google Compute Engine </li>
      <li> Google Buckets </li>
    </ul>
    <p>As I was watching an episode of <i><a href="https://www.imdb.com/title/tt2543312/"> Halt and Catch Fire </a></i>
    on Intranet, I got curious about how many nodes/webpages could possibly be under my Universitys' domain. Furthermore, I
  wanted to visualize how each department and college interacted with each other and as well as analyze their relationship.
Fortunately, I was taking a course on Peer-to-Peer Networks that particular semester, so I was able to apply the theoretical
concepts I learnt on to my project. To achieve this, I built a Python based concurrent web crawler that implements a Bloom Filter , to crawl through
~ 10 million webpages and scrape the data on each web page using Scrapy library. The end result was definitely fascinating.
You can find the code and a detailed pdf on the results and analysis on my github.  </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
